# Configuración de la base de datos
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=1234
DB_NAME=miniblog
DB_PORT=5432

# Opcionales (con valores por defecto en el código)
DB_MAX=20
DB_IDLE_TIMEOUT=30000
DB_CONNECTION_TIMEOUT=2000

# Puerto del servidor (Railway lo sobreescribe con PORT)
PORT=3000

# Entorno de ejecución
NODE_ENV=development