# Configuración de la base de datos PostgreSQL
DB_HOST=localhost
DB_USER=usuario
DB_PASSWORD=contraseña
DB_NAME=nombre_base
DB_PORT=5432

# Parámetros del pool de conexiones
DB_CLIENT_ENCODING=UTF8
DB_MAX=20
DB_IDLE_TIMEOUT=30000
DB_CONNECTION_TIMEOUT=2000